html, body, div, h1, h2, h3, p, a {
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	background: #e6edf4;
}
h1 {
	margin-bottom: 1em;
	text-align: right;
	line-height: 1.4;
	font-size: 1.65em;
}
h2 {
	margin: 0;
	padding: 0.5em 1em;
	font-size: 1.25em;
	background: #f1f6fb;
	border: .0625rem solid #c4cdda;
	border-radius: .25em .25em 0 0;
}
h1, h2, h3 {
	color: #147698;
}
a {
	text-decoration: none;
}
#help {
	position: absolute;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 1em;
	width: 100%;
	height: 100%;
	background: #e6edf4;
	z-index: 10;
}
#innerHelp {
	position: relative;
	margin: auto;
	width: 90%;
	text-align: right;
}
#innerHelp code {
	display: block;
	text-align: left;
	margin: 1em 0;
	padding: 1em;
	background: #fff;
	border: 1px solid #c4cdda;
	border-radius: .25em;
}
#innerHelp p {
	display: block;
	text-align: left;
	margin: 1em 0;
	padding: 1em;
	font-size: 0.85em;
}
#innerHelp a {
	color: #7a8491;
	font-size: 0.7em;
	text-align: right;
}
#wrapper {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 90%;
	height: 90%;
}
#boxview {
	overflow:; hidden;
	border-radius: .25em;
}
#footer {
	margin-top: 1em;
	text-align: right;
	font-size: 0.7em;
}
#footer a {
	color: #7a8491;
}
.RepositoryListItem {
	background: #fff;
	border-left: 1px solid #c4cdda;
	border-right: 1px solid #c4cdda;
	border-bottom: 1px solid #c4cdda;
}
.RepositoryListItem a {
	display: block;
	padding: 1em;
	font-size: 0.9em;
	font-weight: bold;
	color: #7a8491;
}
.RepositoryListItem a:hover {
	background: #eee;
}
.RepositoryListItem a span {
	font-size: 0.75em !important;
	font-weight: normal;
}